@import "tailwindcss";

@theme {
  --color-darkblue: #170d5b;
  --color-darkerblue: #161442;
  --color-lightviolet: #6c59d6;
  --color-midnight: #212121;

  --shadow-card: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
