@import "tailwindcss";

@theme {
  --color-darkblue: #170d5b;
  --color-darkerblue: #161442;
  --color-lightviolet: #6c59d6;
  --color-lighterviolet: #7b6ada;
  --color-midnight: #212121;

  --shadow-card: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  --animate-banner: banner 3s ease-in-out infinite;
  --animate-load: load 1.5s ease-in-out;
  --animate-text: text 1s ease-in-out;

  @keyframes banner {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-6px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes load {
    0% {
      transform: translateY(-800px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  @keyframes text {
    0% {
      transform: translateX(800px);
    }

    100% {
      transform: translateX(0px);
    }
  }
}
